/* --------------Common Styles-------------- */
[class*="__container"] {
	max-width: 1430px;
	margin: 0 auto;
	padding: 0 15px;
}
* {
	box-sizing: border-box;
}
body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.37;
	color: #323232;
}
.section-title {
	font-family: 'Play', sans-serif;
	font-weight: 700;
	font-size: calc(28px + 6 * ((100vw - 320px) / (1920 - 320)));
	line-height: 1.41;
	letter-spacing: .05em;
	text-transform: uppercase;
	color: #323232;
}






/* --------------Header-------------- */
.header {
}
.header__container {
	padding-top: 24px;
	padding-bottom: 24px;
	display: flex;
	align-items: center;
}
.header__logo {
	flex-basis: 259px;
}
.logo {
	display: flex;
	align-items: center;
	font-family: 'Play', sans-serif;
	font-size: 18px;
	line-height: 2.3;
	letter-spacing: .05em;
	color: #000;
}
.logo img {
	margin-right: 12px;
}
.header__nav {
	flex-basis: 706px;
	padding: 0 20px 0 10px;
}
.nav {
}
.nav__list {
	display: flex;
	gap: 24px;
}
.nav__item {
}
.nav__item a {
	line-height: 1.37;
	color: #000;
}
.header__menu {
	display: none;
}
.header__contacts {
	display: flex;
	flex-wrap: wrap;
	max-width: 178px;
	margin-right: 50px;
}
.header__contacts p {
	margin-left: 12px;
	line-height: 1.37;
}
.header__contacts a {
	color: #808080;
	line-height: 1.37;
}
.header__contacts a::after {
	content: '';
	border-top: 1px dashed #808080;
	display: block;
}
.header__button {
	min-width: 207px;
	height: 48px;
	font-family: 'Play', sans-serif;
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: .05em;
	border: 1px solid #000;
	border-radius: 6px;
	background-color: transparent;
	text-transform: uppercase;
	transition: all 0.5s;
}
.header__button:hover {
	transform: scale(1.03, 1.03);
}




/* --------------Hero Section-------------- */
.hero-section {
	padding: 301px 0 394px 0;
	background: linear-gradient( rgba(50, 50, 50, 0.78), rgba(50, 50, 50, 0) ), url(../images/hero-section/hero-img.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-position: top;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-section__container {
	display: flex;
}
.hero-section__text {
	max-width: 706px;
}
.hero-section__text h1 {
	font-family: 'Play', sans-serif;
	font-weight: 700;
	font-size: calc(26px + 14 * ((100vw - 320px) / (1920 - 320)));;
	line-height: 1.2;
	letter-spacing: .05em;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 24px;
}
.hero-section__text p {
	margin-bottom: 24px;
	line-height: 1.37;
	color: #fff;
}
.hero-section__text button {
	color: #323232;
	font-family: 'Play', sans-serif;
	line-height: 1.18;
	letter-spacing: .05em;
	text-transform: uppercase;
	padding: 17px 72px;
	border-radius: 6px;
	background-color: #fff;
	transition: all 0.4s;
}
.hero-section__text button:hover {
	opacity: 0.7;
}







/* --------------Indusrties Section-------------- */
.industries {
	margin-top: 80px;
}
.industries__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.industries__title {
	margin-bottom: 10px;
}
.industries__description {
	font-size: calc(14px + 2 * ((100vw - 320px) / (1920 - 320)));;
	max-width: 875px;
	text-align: center;
	color: #323232;
	margin-bottom: 35px;
}
.industries__list {
	width: 100%;
	min-height: 177px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.industries__item {
	flex: 1 1 20%;
	display: flex;
	justify-content: center;
	margin-bottom: 70px;
}
.industries__item > a {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 0 10px 0 10px;
}
.industries__item svg path {
	fill: #323232;
}
.industries__item:hover svg path {
	fill: #007FA7;
}
.industries__item > a > h3 {
	font-family: 'Play', sans-serif;
	font-weight: 700;
	font-size: 22px;
	line-height: 1.13;
	letter-spacing: .05em;
	text-transform: uppercase;
	color: #323232;
	text-align: center;
}
.industries__item:hover h3 {
	color: #007FA7;
}
.industries__item > a > p {
	position: relative;
	color: #323232;
}
.industries__item:hover p {
	color: #007FA7;
}
.industries__item > a > p::after {
	content: '- - - - - - -';
	width: 100%;
	position: absolute;
	left: 4px;
	top: 11px;
	color: #323232;
}
.industries__item:hover p::after {
	color: #007FA7;
}






/* --------------Products Section-------------- */
.products-section {
	margin-bottom: 80px;
}
.products-section__container {
}
.products-section__title {
	margin-bottom: 36px;
	text-align: center;
}
.products-section__list {
	width: 100%;
	display: flex;
	gap: 32px;
}
.products-section__item {
	max-width: 445px;
	height: 300px;
	position: relative;
	border-radius: 6px;
}
.products-section__item_1 {
	background-image: url(../images/products-section/img1.png);
	background-repeat: no-repeat;
}
.products-section__item_2 {
	background-image: url(../images/products-section/img2.png);
	background-repeat: no-repeat;
}
.products-section__item_3 {
	background-image: url(../images/products-section/img3.png);
	background-repeat: no-repeat;
	position: relative;
}
.products-section__item_3::before {
	content: '';
	border-radius: 6px;
	background-color: #323232;
	opacity: 0.2;
	width: 100%;
	height: 100%;
	position: absolute;
}
.products-section__text {
	padding: 24px 24px 0 24px;
	position: relative;
	z-index: 5;
}
.products-section__subtitle {
	margin-bottom: 10px;
}
.subtitle-section {
	font-family: 'Play', sans-serif;
	font-weight: 700;
	font-size: calc(16px + 6 * ((100vw - 320px) / (1920 - 320)));;
	line-height: 1.13;
	letter-spacing: .05em;
	color: #fff;
	text-transform: uppercase;
}
.subtitle-section__description {
	color: #fff;
}
.products-section__btn {
	position: absolute;
	bottom: 0;
}
.subtitle-section-btn {
	width: 100%;
	font-family: 'Play', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	line-height: 1.18;
	letter-spacing: .05em;
	background-color: #007FA7;
	padding: 15px 0 15px 0;
	color: #fff;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	transition: all 0.7s;
}
.subtitle-section-btn:hover {
	background-color: rgb(2, 92, 138);
	opacity: 0.7;
}
.subtitle-section-btn span {
	background-color: #006F92;
	width: 57px;
	height: 100%;
	position: absolute;
	right: 0;
	border-bottom-right-radius: 6px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}





/* --------------Benefits Section-------------- */
.benefits-section {
	margin-bottom: 80px;
}
.benefits-section__title {
	text-align: center;
	margin-bottom: 36px;
}
.benefits-section__wrapper {
	background-image: url(../images/benefits-section/backgtround-img.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.benefits-section__container {
	padding: 55px 15px;
}
.benefits-section__list {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 32px;
}
.benefits-section__item {
	max-width: 443px;
}
.benefits-section__top-item {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 12px;
}




/* --------------Info Section-------------- */
.info {
	margin-bottom: 80px;
}
.info__container {
}
.info__title {
	margin-bottom: 36px;
	text-align: center;
}
.info__content {
	display: flex;
	gap: 32px;
	height: 421px;
}
.info__content-wrapper {
	max-width: 565px;
	display: flex;
	flex-direction: column;
	gap: 22px;
	align-self: center;
}
.info__text {
}
.cont-bc {
	align-self: flex-end;
	position: relative;
}
.cont-bc::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background-color: #007FA7;
	opacity: 0.2;
	right: -29px;
	top: -30px;
	border-radius: 6px;
}
.info__img {
	width: 803px;
	height: 391px;
	border-radius: 6px;
	align-self: flex-end;
	position: relative;
	z-index: 1;
}





/* --------------News Section-------------- */
.news {
	margin-bottom: 80px;
}
.news__title {
	text-align: center;
	margin-bottom: 36px;
}
.section-title {
}
.news__list {
	display: flex;
	gap: 32px;
}
.news__item {
	max-width: 445px;
	display: flex;
	flex-direction: column;
}
.news__img {
	width: 100%;
	height: 260px;
	border-radius: 6px;
	margin-bottom: 24px;
	object-fit: cover;
}
.news__subtitle {
	margin-bottom: 10px;
	flex-grow: 1;
	flex-shrink: 1;
}
.subtitle-section_black {
	color: #323232;
}
.subtitle-section__description {
}
.subtitle-section__description_black {
	color: #323232;
	margin-bottom: 24px;
}
.subtitle-section-btn_circle {
	border-radius: 6px;
	position: relative;
}
.subtitle-section-btn_circle span {
	border-top-right-radius: 6px;
}







/* --------------Contacts Section-------------- */
.contacts {
	background-color: #F6F6F6;
	padding-bottom: 80px;
}
.contacts__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 36px;
	width: 100%;
}
.contacts__title {
	text-align: center;
	margin-bottom: 36px;
	padding-top: 80px;
}
.contacts__content {
	max-width: 445px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.contacts__table {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.contacts__table > tbody {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.table__title {
	font-family: 'Play', sans-serif;
	font-weight: 700;
	font-size: 22px;
	line-height: 1.13;
	color: #323232;
	opacity: 0.5;
	text-transform: uppercase;
	text-align: left;
}
.td-1 {
	color: #323232;
	opacity: 0.54;
	width: 98px;
}
.contacts__maps-container {
	width: 684px;
	margin-top: 30px;
	margin-right: 29px;
}
.contacts__maps {
	position: relative;
	z-index: 1;
	border-radius: 6px;
}






/* --------------Footer-------------- */
.footer {
	background-color: #323232;
}
.footer__container {
	padding-top: 25px;
	padding-bottom: 26px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
/* .footer__top {
	padding-top: 25px;
	padding-bottom: 18px;
	display: flex;
	align-items: center;
} */
.footer__logo {
	display: flex;
	align-items: center;
	font-family: 'Play', sans-serif;
	font-size: 18px;
	line-height: 2.3;
	letter-spacing: .05em;
	color: #fff;
	flex-basis: 329px;
	/* margin-bottom: 18px; */
}
.footer__logo svg {
	margin-right: 12px;
}
.header__nav {
	flex-basis: 745px;
	padding: 0 20px 0 10px;
}
.footer__list {
	flex-basis: 745px;
	display: flex;
	gap: 24px;
	padding: 0 20px 0 10px;
}
.footer__item {
}
.footer__item a {
	line-height: 1.37;
	color: #fff;
}
.footer__contacts {
	max-width: 325px;
	display: flex;
	align-items: center;
}
.footer__contacts p {
	margin-right: 8px;
	line-height: 1.37;
	color: #fff;
	display: inline;
}
.footer__contacts a {
	color: #fff;
	opacity: 0.5;
	line-height: 1.37;
}
.footer__contacts a::after {
	content: '';
	border-top: 1px dashed #fff;
	opacity: 0.5;
	display: block;
}
.bot-footer__copyright {
	color: #fff;
	opacity: 0.5;
	flex-basis: 874px;
	margin-top: 18px;
}
.bot-footer__mail {
	color: #fff;
	opacity: 0.5;
	margin-right: 32px;
	margin-top: 18px;
}
.bot-footer__address {
	color: #fff;
	margin-top: 18px;
}









/* --------------Media request-------------- */
@media (max-width: 1428px) {
	.footer__list {
		display: none;
	}
	.footer__logo {
		order: 1;
		flex: 1 1 33.33333%;
	}
	.footer__contacts {
		order: 3;
		flex: 1 1 33.33333%;
	}
	.bot-footer__copyright {
		order: 4;
		flex-basis: 50%;
	}
	.bot-footer__mail {
		order: 2;
		flex: 1 1 33.33333%;
		margin-top: 0;
		margin-right: 0;
	}
	.bot-footer__address {
		order: 5;
		flex-basis: 50%;
	}
}
@media (max-width: 1287px) {
	.nav__item a {
	font-size: 14px;
	}
	.header__contacts {
	max-width: 157px;
	margin-right: 30px;
	font-size: 14px;
	}
}
@media (max-width: 1217px) {
	.contacts__container {
		flex-direction: column-reverse;
		align-items: flex-start;
	}
	.contacts__maps-container {
		width: 100%;
	}
	.contacts__maps {
		width: 100%;
	}
	.contacts__content {
	}
}
@media (max-width: 1168px) {
	.header__button {
		display: none;
	}
	.info__img {
		max-width: 403px;
	}
}
@media (max-width: 1003px) {
	.products-section__list {
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer__logo {
		flex: 1 1 16%;
	}
	.bot-footer__mail {
		flex-basis: 13%;
	}
}
@media (max-width: 961px) {
	.header__container {
		justify-content: space-around;
	}
	.logo {
		flex-basis: 172px;
	}
	.header__button {
		display: inline;
	}
	.header__nav {
		display: none;
	}
	.header__menu {
		flex: 0 1 21px;
		height: 16px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.header__menu::before,
	.header__menu::after {
		content: '';
		height: 1px;
		background-color: #323232;
	}
	.header__menu span {
		height: 1px;
		background-color: #323232;
	}
	.benefits-section__list {
		flex-wrap: wrap;
	}
	.benefits-section__top-item {
		justify-content: center;
	}
	.benefits-section__item p {
		text-align: center;
	}
}
@media (max-width: 851px) {
	.info__content {
		flex-wrap: wrap;
		height: auto;
	}
	.info__img-cont {
		order: 1;
		margin-top: 30px;
	}
	.info__content-wrapper {
		order: 2;
	}
	.info__img {
		max-width: 100%;
		height: 50%
	}
	.info__content-wrapper {
		max-width: 100%;
	}
}


/* Планшеты */
@media (max-width: 768px) {
	.products-section__item {
	max-width: 300px;
	height: 300px;
	}
	.subtitle-section-btn span {
		width: 45px;
	}
	.logo {
		flex-basis: 172px;
	}
	.header__container {
		justify-content: space-between;
	}
	.header__nav {
		display: none;
	}
	.header__menu {
		flex: 0 1 21px;
		height: 16px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.header__menu::before,
	.header__menu::after {
		content: '';
		height: 1px;
		background-color: #323232;
	}
	.header__menu span {
		height: 1px;
		background-color: #323232;
	}
	.header__contacts {
		flex-basis: 178px;
		margin-right: 0;
	}
	.header__button {
		display: inline;
		flex: 0 1 207px;
	}
	.hero-section {
		background: linear-gradient( rgba(50, 50, 50, 0.78), rgba(50, 50, 50, 0) ), url(../images/hero-section/hero-img-tablet.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-attachment: fixed;
		background-position: top;
	}
	.industries__item {
		flex: 0 0 33.333333%;
	}
	.news__list {
		flex-wrap: wrap;
		gap: 30px;
		justify-content: center;
	}
	.news__item {
		max-width: 100%;
	}
}
@media (max-width: 736px) {
	.footer__container {
		justify-content: center;
		gap: 15px;
		align-items: center;
	}
	.footer__logo {
		flex: 0 0 auto;
		margin: 0;
		text-align: center;
	}
	.footer__contacts {
		flex: 0 0 auto;
		margin: 0;
		text-align: center;
	}
	.bot-footer__copyright {
		flex: 0 0 auto;
		margin: 0;
		text-align: center;
	}
	.bot-footer__mail {
		flex: 1 0 auto;
		margin: 0;
		text-align: center;
	}
	.bot-footer__address {
		flex-basis: auto;
		text-align: center;
		margin: 0;
	}
}

@media (max-width: 680px) {
	.header__button {
		display: none;
	}
}

/* Мобилы */
@media (max-width: 479.98px) {
	.header__contacts {
		display: none;
	}
	.header__container {
		padding-top: 24px;
		padding-bottom: 24px;
	}
	.hero-section {
		padding: 161px 0 187px 0;
		background: linear-gradient( rgba(50, 50, 50, 0.78), rgba(50, 50, 50, 0) ), url(../images/hero-section/hero-img-mobile.png);
	}
	.hero-section__text h1 {
		line-height: 1.15;
		letter-spacing: .05em;
		margin-bottom: 20px;
	}
	.hero-section__text p {
		font-size: 14px;
		margin-bottom: 20px;
		line-height: 1.35;
	}
	.hero-section__text button {
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: .05em;
		padding: 12px 66px;
		border-radius: 6px;
	}
	.industries__item {
		margin-bottom: 30px;
		flex: 1 1 100%;
	}
	.industries__item > a > h3 {
		font-size: 16px;
		line-height: 1.18;
	}
	.industries__item > a > p {
		font-size: 14px;
		line-height: 1.35;
	}
}
@media (max-width: 373px) {
	.footer__contacts {
		flex-wrap: wrap;
		flex: 0 1 100%;
		justify-content: center;
	}
}